%h3
  #{@artist['display_name']}
%ul
  %li
    %strong 
    #{@artist['name']}
    %br
    %strong Nacimiento
    #{@artist['birth']}
  - if @artist['biography']
    %li
      %strong Biograf&iacute;a
      #{@artist['biography']}
  %li
    %strong Obras
    - if @artist['artworks']
      %ul
        - @artist['artworks'].each do |artwork|
          %li #{artwork['title']}
          - if artwork['year'] && artwork['year'] != 0
            #{artwork['year']}

%form{:action=>"/buscar_wikipedia", :method=>:post}
  %input{:type=>"hidden", :id=>"name", :name => "name", :value=>escape(@artist['display_name'])}
  %input{:type=>"submit", :value=>"Buscar en Wikipedia"}