%h3 #{t.artist.plural}

- @artists.each do |artist|
  %ul
    %li
      %a{:href=>"/artist/#{artist['id']}", :title=>"#{artist['display_name']}"}
        #{artist['display_name']}
    %li #{t.artist.birth}: #{artist['birth']}