%h3 #{t.artwork.plural}

- @artworks.each do |artwork|
  %p
    %strong
      #{artwork['title']}
    = artwork['year'] unless artwork['year'] == 0 || artwork['year'].nil?
    %br
    #{t.artwork.technique}: #{artwork['technique']}
    